version: "3.8"

services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '5173:80'
    networks:
      - microservice-network

  inventory:
    container_name: inventory-service
    build:
      context: ./inventory-service
      dockerfile: Dockerfile
    ports:
      - '8081:8081'
    networks:
      - microservice-network

  order:
    container_name: order-service
    build:
      context: ./order-service
      dockerfile: Dockerfile
    ports:
      - '8082:8082'
    networks:
      - microservice-network

networks:
  microservice-network:
    driver: bridge

